* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1d1d1d;
  border: 15px solid #000;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  min-height: 100vh;
}

.container {
  padding-top: 75px;
}

.header {
  background-color: #2d2d2d;
  padding: 30px 50px;
  width: 80vw;
  margin: auto;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: #f45253;
  font-size: 1.7rem;
  font-weight: normal;
}

.header span {
  color: #f45253;
}

.archive {
  padding-top: 50px;
  color: #fff;
  width: 80vw;
  margin: auto;
}

.title-list {
  font-size: 1.5rem;
}

.btn {
  width: 90px;
  padding: 4px 10px;
  font-size: 0.9rem;
  margin-right: 10px;
}

.btn-primary {
  background-color: #f45253;
  border-color: #f45253;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #6e6e6e;
  border-color: #f45253;
}

.btn-outline-secondary {
  border-color: #f45253;
  color: #6e6e6e;
}

.bi {
  position: absolute;
  top: 0px;
  left: 0px;
}

.card {
  background-color: #2d2d2d;
}

.card-img-top {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.card-img-top:hover {
  background-color: #fff;
  opacity: 0.5;
  transition: 0.3s ease-out;
}

.card {
  margin: 20px 0px;
}

.card-title {
  font-size: 1.3rem;
}

.year {
  font-size: 0.8rem;
}

.sub_button {
  position: absolute;
  top: 5px;
  left: 5px;
}
